{% extends 'index.html' %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    <h1 align="center">Docker</h1>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagem</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for c in context.containers %}
        <tr>
          <td>
            {{ c.short_id }}
          </td>
          <td>
            {{ c.name }}
          </td>
          <td>
            {{ c.status }}
          </td>
          <td>
            <a href="/docker/{{ c.short_id }}/start">
              <span>start</span>
            </a>
            <a href="/docker/{{ c.short_id }}/stop">
              <span>stop</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div> 
{% endblock %}