{% extends 'index.html' %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    <h1>Jenkins</h1>
  </div>
  <div class="card-body">
    <h3>{{ context.job.name }}</h3>
    <form method="POST" action="/jenkins/build/{{ context.job.name }}">
      <div class="form-group">
        <textarea class="input-group" name="config" rows="4">
          {{ context.job.config }}
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>
{% endblock %}

